# Week 1 -- Assignment 1 -- Topic: Python Basics

### Ques 1. Create one variable containing following type of data:<br>(i) string<br>(ii) list<br>(iii) float<br>(iv) tuple

### Explanation:
1. A **string** is a data type used to represent a sequence of characters. <br> A string is created by enclosing a sequence of characters within either single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """).


2. A **list** is a data type used to store collections of items. We can add, remove, or modify elements in a list. Lists are ordered, mutable collection of elements. Lists can contain elements of different data types, including numbers, strings, other lists, or any other Python objects. <br> A list is created by enclosing a comma-separated sequence of items within square brackets ([ ]).


3. The **float** data type is used to represent floating-point numbers, which are numbers with a decimal point or in exponential notation. Floats are a fundamental numeric data type and are used to represent real numbers, including both rational and irrational numbers. <br> Floats are created by specifying a number with a decimal point or by using exponential notation (using the letter 'e' to represent the exponent - for example: a = $1.23e-4$  will assign the value $0.000123$ to the variable a).


4. A **tuple** is a data type used to represent an ordered, immutable collection of elements. Tuples are similar to lists, but they cannot be modified once they are created. Tuples can contain elements of different data types, similar to lists.<br> A tuple is created by enclosing a comma-separated sequence of items within parentheses ().

### Program/Code:

In [32]:
# variable containing data type string

var_1 = 'An approximate value of pi is 3.14'

# variable containing data type list

var_2 = ['pi', 3.14]

# variable containing data type float

var_3 = 3.14

# variable containing data type tuple

var_4 = ('pi',3.14)

### Ques 2. Given are some variables containing data:<br>(i) var1 = ' '<br>(ii) var2 = '[DS, ML, Python]'<br>(iii) var3 = ['DS', 'ML', 'Python']<br>(iv) var4 = 1<br>What will be the data type of the above given variables?

### Explanation:
* We can check the data type of a variable or value using the **type()** function.
* The **type()** function returns the data type of the specified object.

### Program/Code:

In [33]:
# creating the variables specified in the question

var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

# printing the data type for each of the varibles

print("Data type of var1 is",type(var1))
print("Data type of var2 is",type(var2))
print("Data type of var3 is",type(var3))
print("Data type of var4 is",type(var4))

Data type of var1 is <class 'str'>
Data type of var2 is <class 'str'>
Data type of var3 is <class 'list'>
Data type of var4 is <class 'int'>

### Ques 3. Explain the use of the following operators using an example:<br>(i) /<br>(ii) %<br>(iii) //<br>(iv) **

### Explanation:
(i). The / operator is used for division.It performs division between two numbers and returns the result as a floating-point number (even if the result is a whole number).

(ii). The % operator is known as the "modulo" operator. It is used to find the remainder of the division of one number by another.

(iii). The // operator is known as the "floor division" operator. It is used for performing division between two numbers and returns the floor (integer) value of the result. The floor value is the largest integer that is less than or equal to the result of the division.

(iv). The ** operator is used for exponentiation. It is also known as the "power" or "exponent" operator. The ** operator is used with two operands: the base and the exponent, where the base is raised to the power of the exponent.

### Program/Code:

In [34]:
# Example 1:

a = 10/2              # / operator is used for 'Division'
print('a = ',a)       # Output for 10/2 is 5.0

# Example 2:

b = 15%4              # % operator is used for 'Modulus'
print('b = ',b)       # Output for 15 % 4 is 3

# Example 3:

c = 20//3             # // operator is used for 'Floor Division'
print('c = ',c)       # Output for 20//3 is 6

# Example 4:

d = 2**5              # ** operator is used for 'Exponentiation'
print('d = ',d)       # Output for 2**5 is 32

a =  5.0
b =  3
c =  6
d =  32

### Ques 4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

### Program/Code:

In [38]:
# Step 1: creating a list of length 10

my_list = [10,10.75,-3+5j,True,"s",[1,2,3],(100,200,300),{3,6,9,12,15},{'a':'1st Employee'},None]

# Step 2: printng the elements of the list using for loop

for elem in my_list:
    print(elem,f"-- Data type of {elem} is",type(elem))

10 -- Data type of 10 is <class 'int'>
10.75 -- Data type of 10.75 is <class 'float'>
(-3+5j) -- Data type of (-3+5j) is <class 'complex'>
True -- Data type of True is <class 'bool'>
s -- Data type of s is <class 'str'>
[1, 2, 3] -- Data type of [1, 2, 3] is <class 'list'>
(100, 200, 300) -- Data type of (100, 200, 300) is <class 'tuple'>
{3, 6, 9, 12, 15} -- Data type of {3, 6, 9, 12, 15} is <class 'set'>
{'a': '1st Employee'} -- Data type of {'a': '1st Employee'} is <class 'dict'>
None -- Data type of None is <class 'NoneType'>

### Explanation:
* In the above code, we've inlcuded different types of data in a list.
* These data types are: __int, float, complex, bool, str, list, tuple, set, dict, NoneType__.
* The int data type represents integer numbers, which are whole numbers without a fractional part.
* The float data type represents floating-point numbers, which are numbers with decimal points or in exponential notation, allowing for both rational and irrational numbers.
* The complex data type is used to represent complex numbers in the form of a + bj, where a and b are real numbers and j represents the imaginary unit.
* The bool data type represents Boolean values, which can be either True or False, and are used for logical operations and conditional expressions.
* The str data type represents strings, which are sequences of characters and are used for representing text in Python.
* The list data type is used to create ordered collections of elements that are mutable, allowing for dynamic resizing and modification.
* The tuple data type is used to create ordered collections of elements that are immutable, meaning they cannot be changed after creation.
* The set data type is used to create unordered collections of unique elements, making it useful for tasks like eliminating duplicates.
* The dict data type, short for dictionary, is used to create collections of key-value pairs, allowing for efficient lookups and mappings.
* The NoneType represents a special data type with a single value, None, which is often used to indicate the absence of a value or to initialize variables before they are assigned a meaningful value.

### Ques 5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

### Program/Code:

In [51]:
# Step 1: Creating two variables to take input as value of numbers A and B

A = int(input('Enter the dividend (A):'))
B = int(input('Enter the divisor (B):'))

# Step 2: Use a variable to store the count of how many times A is divisible by B

div_count = 0

# Step 3: Using while loop for counting number of times A is divisible by B

while A%B == 0:
    A = A//B
    div_count +=1

# Step 4: Using if-else condition for deciding whether purely divisible or not
    
if div_count >= 1:
    print(f"A is purely divisible by B & it is divisible {div_count} times")
else:
    print(f"A is not divisible by B")

Enter the dividend (A):25
Enter the divisor (B):5
A is purely divisible by B & it is divisible 2 times

### Explanation:
* In Step 1, the code starts by taking input from the user for two integers, A and B, representing the dividend and the divisor, respectively. These values are converted to integers using __int(input(...))__ to ensure they are treated as numeric values.<br> <br>
* In Step 2, a variable _div_count_ is initialized to 0. This variable will be used to keep track of how many times A is divisible by B. <br> <br>
* Step 3 contains a _while_ loop. It checks if A is divisible by B by using the _modulo_ operator (%). As long as A is evenly divisible by B, meaning the remainder of the division is zero, the loop continues. Inside the loop, A is replaced by the value of A divided by B using floor division (//), and the _div_count_ is incremented to keep track of the number of divisions. <br> <br>
* In Step 4, an _if-else_ condition checks if _div_count_ is greater than or equal to 1. If _div_count_ is greater than or equal to 1, it means that A is divisible by B, and the code prints a message indicating that A is purely divisible by B and how many times it is divisible. If _div_count_ is less than 1, it means that A is not divisible by B, and the code prints a message indicating that fact.

### Ques 6. Create a list containing 25 int data type. Using for loop and if-else condition print if the element is divisible by 3 or not.

### Program/Code:

In [52]:
# Step 1: Creating a list containing 25 int data type

int_list = [36,43,100,78,55,210,786,97,110,111,76,9831,4278,66698,98765,765378,679944,9032843,2982459,768,127,958,8,4562,746347]
print("Here's the given list: \n",int_list)
print('Number of integers in this list:',len(int_list))

# Step 2: Checking & printing which element is divisible by 3 and which isn't using for loop and if-else condition

for i in int_list:
    if i%3 == 0:
        print(i,'is divisible by 3')
    else:
        print(i,"isn't divisible by 3")

Here's the given list:
 [36, 43, 100, 78, 55, 210, 786, 97, 110, 111, 76, 9831, 4278, 66698, 98765, 765378, 679944, 9032843, 2982459, 768, 127, 958, 8, 4562, 746347]
Number of integers in this list: 25
36 is divisible by 3
43 isn't divisible by 3
100 isn't divisible by 3
78 is divisible by 3
55 isn't divisible by 3
210 is divisible by 3
786 is divisible by 3
97 isn't divisible by 3
110 isn't divisible by 3
111 is divisible by 3
76 isn't divisible by 3
9831 is divisible by 3
4278 is divisible by 3
66698 isn't divisible by 3
98765 isn't divisible by 3
765378 is divisible by 3
679944 is divisible by 3
9032843 isn't divisible by 3
2982459 is divisible by 3
768 is divisible by 3
127 isn't divisible by 3
958 isn't divisible by 3
8 isn't divisible by 3
4562 isn't divisible by 3
746347 isn't divisible by 3

### Explanation:
* In Step 1, a list named *int_list* is created, containing 25 integer values. These integers represent a collection of numbers. After creating the list, the code prints the list and also prints the number of integers in the list making use of the **len()** function.<br><br>
* In Step 2, the code uses a `for` loop to iterate through each element *i* in the *int_list*. Inside the loop, it checks if *i* is divisible by 3 using the modulo operator (%). If *i* is evenly divisible by 3 (i.e., i % 3 == 0), it prints that *i* is divisible by 3. Otherwise, it prints that *i* isn't divisible by 3.

### Ques 7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

### Explanation:
* __Mutable__ and __immutable__ data types refer to whether the values of a data type can be changed after they are created.
* __Mutable__ data types are those whose values can be modified or changed after they are created. When you modify a mutable object, you are actually changing its state in memory, and any references to that object will reflect the updated state. Examples of mutable data types include: lists, dictionaries, etc.
* __Immutable__ data types are those whose values cannot be changed after they are created. When you try to modify an immutable object, a new object is created with the updated value, leaving the original object unchanged. Examples of immutable data types include: strings, tuples, etc.
* Immutable data types are often preferred for data that should not change to avoid unexpected side effects in your code. Mutable data types are useful when you need to modify data in place or when you want to maintain a reference to the same data structure with updated values.

### Program/Code:

In [53]:
# Mutable data type example 1 - list
# Lists are ordered collections of elements. We can add, remove, or modify elements in a list.

my_list = [1, 2, 3]
my_list.append(4)     # Modifies the list by adding an element
my_list[0] = 10       # Modifies the first element
print(my_list)

[10, 2, 3, 4]

In [54]:
# Mutable data type example 2 - dictionary
# Dictionaries store key-value pairs, and we can add, remove, or modify key-value pairs.

my_dict = {'name': 'Alice', 'age': 30}
my_dict['age'] = 31                    # Modifies the value associated with the 'age' key
print(my_dict)

{'name': 'Alice', 'age': 31}

In [59]:
# Immutable data type example 1 - string
# Strings represent sequences of characters, and you cannot modify individual characters once a string is created.

my_string = "Hello"
new_string = my_string + " World"  # Creates a new string, leaving the original unchanged
print(my_string)
print(new_string)
my_string[1] = 'W'                # Attempting to modify a string will result in an error:

Hello
Hello World

TypeError: 'str' object does not support item assignment

In [60]:
# Immutable data type example 2 - tuple
# Tuples are ordered collections, similar to lists, but they cannot be modified after creation.

my_tuple = (1, 2, 3)
print(my_tuple)
my_tuple[0] = 10            # Attempting to modify a tuple will result in an error

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

# End of Assignment